html,
body {
  margin: 0;
  padding: 0;
}
@font-face {
  /**
   * http://style64.org/c64-truetype
   * see license.txt in font directory for details.
   */
  font-family: 'C64 User Mono';
  src: url('font/C64_User_Mono_v1.0-STYLE.eot');
}

@font-face {
  /**
   * http://style64.org/c64-truetype
   * see license.txt in font directory for details.
   */
  font-family: 'C64 User Mono';
  src: url('font/C64_User_Mono_v1.0-STYLE.ttf') format('truetype'),
    url('font/C64_User_Mono_v1.0-STYLE.woff') format('woff');
}

.c64 {
  /* generic "use this font" class */
  font-family: 'C64 User Mono';
}

#app {
  opacity: 0;
}

#app.hide {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

#app.show {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
